$light-color:#F7FAFC;
$indigo-color:#3C366B;
$gray-color:#4A5568;
$red-color:#E74C3C;
$light-gray: #DDD;
$black-color: black;
$font-stack:Helvetica, sans-serif;

body{
    font: 100% $font-stack;
}
.navbar{
    background-color: $light-color;
    color: $gray-color;
    height: 50px;
    a {
        float:left;
        display:block;
        text-align:center;
        padding:10px 20px;
        text-decoration: none;
        img{
            height: 30px;
            width: 145px;
        }
    }
    a: hover{
        background-color: $light-gray;
        color: $black-color;
        padding: 10px 20px;
    }
}
.header{
    background-color: $indigo-color;
    color: $light-color;
    height: 150px;
}
.about{
    background-color: $light-color;
    color: $indigo-color;
    height: 100px;
}
.product{
    background-color: $red-color;
    color: $light-color;
    height: 100px;
}
.contact{
    background-color: $light-color;
    color:$gray-color;
    height: 100px;
}
.footer{
    background-color: $gray-color;
    color:$light-color;
    height: 75px;
}
